.personal {
    height: 240px;
    background: url(../../../../assets/imgs/background_learning.jpg) no-repeat scroll 0% 0% / 100% auto transparent;
    position: relative;
}

.personal_head {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    padding-top: 27px;
}

.f_head {
    font-size: 16px;
    font-weight: normal;
}

.personal_title {
    margin: 0 auto 0 auto;
    text-align: center;
    padding-top: 50px;
}

.personal_title img {
    border-radius: 50px;
    border: 2px solid#FFFFFF;
}

.f_tit {
    color: #FFFFFF;
    font-size: 16px;
}

.top10 {
    margin-top: 10px;
}

.top5 {
    background: #aec3d3;
    width: 50%;
    position: absolute;
    top: -10px;
    left: 25%;
    text-align: center;
    border-radius: 5px;
}

.personal_details {
    margin: 0 auto 0 auto;
    background: #f4f6fb;
    line-height: 20px;
    margin-top: -8px;
}

.navigation {
    background: #FFFFFF;
    height: 110px;
    margin-bottom: 10px;
}

.order_form {
    width: 33%;
    float: left;
    margin-top: 17px;
    text-align: center;
}

.f_form {
    font-size: 1.4rem;
    color: #353535;
}

.f_form a {
    font-size: 14px;
    color: #353535;
}

.order_form_xian {
    margin-top: 30px;
    width: 1px;
    height: 62px;
    float: left;
    background: #f4f6fb;
}

.right {
    margin-left: 55%;
    background: url(../../../../assets/imgs//you.png) no-repeat;
    right: 10%;
    top: 17px;
    position: absolute;
}

.list {
    padding-left: 5%;
    padding-right: 5%;
    background: #FFFFFF;
    height: 44px;
    line-height: 44px;
    margin-bottom: 1px;
    position: relative;
}

.left8 {
    padding-left: 10px;
    font-size: 14px;
}

.margin-top10 {
    margin-top: 10px;
}

.alignment {
    vertical-align: sub;
}

.top_border {
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    height: 20px;
    background: #FFFFFF;
}

.center {
    text-align: center;
}

.exit_logon {
    font-size: 14px;
    color: #7c7c7c;
}

.blank {
    height: 65px;
}

.personal_info {
    position: absolute;
    width: 100%;
    top: 170px;
    background: #f4f6fb;
}

.contents {
    position: relative;
}

.order {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    line-height: 50px;
    margin: 0 auto 5px;
}

.associated_children {
    background: #3bcbab;
}

.children_course {
    background: #3281e8;
}

.abnormal_attendance {
    background: #f6df84;
}