nz-carousel {
    height: auto;
    min-height: 150px;
    /* margin: 8px 0px; */
    /* margin-top: 37px; */
    padding: 8px 0px;
    padding-top: 43px;
}

.ant-carousel .slick-slide img {
    width: 100%;
    height: 100%;
    display: block;
}

.slick-slide {
    min-height: 100px;
    max-height: 250px;
}

.titleTab-body {
    position: absolute;
    width: 100%;
    bottom: -14px;
    z-index: 100000;
    height: 50px;
}

.titleTab-body2 {
    position: fixed;
    top: 37px;
    left: 0px;
}

.titleTab {
    height: 50px;
    box-shadow: 0px 5px 5px rgba(108, 150, 211, 0.2);
    background-color: #fff;
    color: #353535;
    border-radius: 8px;
}

.titleTab2 {
    box-shadow: 2px 3px 5px rgba(108, 150, 211, 0.1) !important;
    width: 100% !important;
    border-radius: 0% !important;
}

.titleTab-bm {
    display: block;
    margin-top: 10px;
    font-size: 1.6rem;
}

.bm-hover>.titleTab-bm::after {
    content: "";
    display: block;
    height: 4px;
    width: 58px;
    background: #f4f7fd;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.bm-hover>.titleTab-bm {
    color: #3497e8;
}

.home-body {
    position: relative;
}
