<div class="dis-content clearfix">
    <div class="dis-headerimg">
        <img src="{{url+list.s_head_portrait}}" appErrorImg='s_user'>
    </div>
    <div class="dis-body">
        <h2 (click)='href(list?.i_id)'>{{list.s_moderator}}</h2>
        <p>{{list.s_review_title}}</p>
        <div class="dis-time">
            <p> {{list?.d_input_time*1000 | date:'yyyy/MM/dd'}}</p>
            <div>
                <i class="anticon anticon-my-pl" (click)='href(list?.i_id)'></i> [{{list.i_reply}}]
                <i class="iconfont icon-dianzan" style="font-size: 22px;
                /* height: 15px; */
                /* width: 18px; */
                line-height: 10px;
                vertical-align: sub;" (click)='CourseReviewReplyLike(list.i_id)'></i> [{{list.i_point}}]
            </div>
        </div>
    </div>
</div>