<div class="titleTab-body" [ngClass]="{'titleTab-body2':hflag}">
    <div nz-row>
      <div nz-col [nzSpan]="1" *ngIf='!hflag'>
      </div>
      <div nz-col [nzSpan]="22" class="titleTab " [ngClass]="{'titleTab2':hflag}">
        <ul nz-row>
          <li nz-col [nzSpan]="8" [ngClass]="['my-tcenter']" [routerLink]="['/main/home/rcourse']" routerLinkActive="bm-hover">
            <label class="titleTab-bm">推荐课程</label>
          </li>
          <li nz-col [nzSpan]="8" [ngClass]="['my-tcenter']" [routerLink]="['/main/home/hcourse']" routerLinkActive="bm-hover">
            <label class="titleTab-bm">最热课程</label>
          </li>
          <li nz-col [nzSpan]="8" [ngClass]="['my-tcenter']" [routerLink]="['/main/home/tt']" routerLinkActive="bm-hover">
            <label class="titleTab-bm">授课名师</label>
        </ul>
      </div>
      <div nz-col [nzSpan]="1" *ngIf='!hflag'>
          
      </div>
    </div>
  </div>