<nz-footer>
  <ul nz-row>
    <li nz-col [nzSpan]="6" [ngClass]="['my-tcenter']" [routerLink]="['/main/home']" routerLinkActive="activeCheck">
      <!-- <img src="../../../assets/imgs/sy.png" alt="" width="25" height="25"> -->
      <div class="sy">

      </div>
      <label>首页</label>
    </li>
    <li nz-col [nzSpan]="6" [ngClass]="'my-tcenter'" [routerLink]="['/main/course']" routerLinkActive="activeCheckxk">
      <!-- <img src="../../../assets/imgs/xk.png" alt="" width="25" height="25"> -->
      <div class="xk">

      </div>
      <label>选课中心</label>
    </li>
    <li nz-col [nzSpan]="6" [ngClass]="'my-tcenter'" [routerLink]="['/main/study']" routerLinkActive="activeCheckxx">
      <!-- <img src="../../../assets/imgs/xx.png" alt="" width="25" height="25"> -->
      <div class="xx">

      </div>
      <label>学习</label>
    </li>
    <li nz-col [nzSpan]="6" [ngClass]="'my-tcenter'" [routerLink]="['/main/personal']" routerLinkActive="activeCheckwd">
      <!-- <img src="../../../assets/imgs/wd.png" alt="" width="25" height="25"> -->
      <div class="wd">

      </div>
      <label>我的</label>
    </li>
  </ul>
</nz-footer>
