.footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 -5px 10px rgba(55, 69, 88, 0.1);
}

.footer>button {
    height: 100%;
    background-color: #3497e7;
    width: 100px;
    outline: none;
    border: none;
    /* text-align: right; */
    float: right;
    color: #fff;
    font-size: 1.7rem;
}

.disabled {
    background-color: rgb(221, 221, 221) !important;
}
