<div class="centrality_foot">
    <div class="centrality_foot_info">
        <div class="schedule foot">
            <div class="schedule_img">
                <a href="" class="dh schedule_img" [routerLink]="['/p-home/main']" routerLinkActive='schedule_imgH'>      课表    </a>
            </div>
        </div>
        <div class="learning_situation foot">
            <div class="">
                <a href="" class="dh learning_situation_img" [routerLink]="['./love']" routerLinkActive='learning_situation_imgH'>    学情    </a>
            </div>
        </div>
        <div class="my foot">
            <div class="my_img">
                <a href="" class="dh my_img" [routerLink]="['./my']" routerLinkActive='my_imgH'>      我的    </a>
            </div>
        </div>
    </div>
</div>