<div id="example" class="example">
    <!-- 底层 -->
    <img class="img1" #img src="" />
    <!-- 裁切层 -->
    <img class="img2" #img2 id="img2" src="pic.jpg" />
    <!-- 选择框 -->
    <div id="main">
        <div id="left-up" class="minDiv left-up"></div>
        <div id="left" class="minDiv left"></div>
        <div id="left-down" class="minDiv left-down"></div>
        <div id="up" class="minDiv top"></div>
        <div id="right-up" class="minDiv right-up"></div>
        <div id="right" class="minDiv right"></div>
        <div id="right-down" class="minDiv right-down"></div>
        <div id="down" class="minDiv bottom"></div>
    </div>
</div>
<!-- <div id="preview">
    <img id="previewImg" #img1 src="" alt="preview" />
</div> -->