<!-- <div style="height:40px;">
    <nz-affix> -->
<div nz-row [nzGutter]="0" class="header" [ngClass]="{'header2':styleFlag == 2,'header3':styleFlag==3}">
    <div nz-col [nzSpan]="8">
        <i class="anticon anticon-left" (click)='goBack()'></i>
        <span class="" style="font-size:1.5rem;color:#353535">{{titleDetails2}}</span>
    </div>
    <div nz-col [nzSpan]="8" [nzOffset]="0" style="text-align:center">
        {{titleDetails}}
    </div>
    <div nz-col [nzSpan]="8">

    </div>
</div>
<!-- </nz-affix>
</div> -->